body {
    background-color: #edeff1;
    padding-top: 65px;
}

.topBar {
	background-color: #b24940;
	color: #fff;
	font-size: 25px;
	position: fixed;
    top: 0;
    width: 100%;
    text-align: left;
    min-height: 53px;
}

.punchLogo {
    transition: all .1s ease-in-out;
	width: 50px;
	height: 50px;
	margin-left:10px;
}

.punchLogo:hover {
    transition: all .3s ease-in-out;
	transform: scale(1.1) rotate(20deg);
	cursor: pointer;	
}

.boutonLogin{
    float: right;
    display: inline;
    margin-right:10px;
    margin-top: 7px;
}

.boutonLoginContent{
    background-color: #b24940;
    border: 2px solid #fff;
    border-radius: 7px;
    font-size: 20px;
}

.boutonLoginContent:hover{
    filter: brightness(70%);
}

.boutonLoginContent:active{
    outline: none;
}
.boutonLoginContent:focus{
    outline: none;
}

.topBarIcons{
    cursor: pointer;
    width: 30px;
    height: 30px;
    float: right;
    margin-right:20px;
    margin-top: 10px;
    margin-bottom: 14px;
}

.profileMenu {
    float : right;
}

.profileMenu-content {
    margin-top: 53px;
    font-size: 15px;
    display: none;
    position: absolute;
    background-color: #fbfcfc;
    min-width: 160px;
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.profileMenu-content a {
    color: black;
    padding: 12px 26px;
    text-decoration: none;
    display: block;
}

.profileMenu-content a:hover {background-color: #f1f1f1}

.profileMenu:hover .profileMenu-content {
    display: block;
}

.topBarIcons:hover{
    filter: brightness(70%);
}

.searchBar {
	float: right;
	margin-top: 8px;
	margin-right:10px;
}

.inputText {
	background-color:white;
	color:rgb(210,215,225);
	border: 0px solid;
}


.inputText:focus {
    border-color: #e11;
}

.searchButton {
	width: 25px;
	height: 25px;
	transform:translateX(-32px)  translateY(5px);
}

.addpunchline{
    margin-left: 5px;
}

.addPunchlineButton{
    background-color: #edeff1;
    color:#999999;
    outline: none;
    margin-left:10%;
    max-width:85%;
    margin-bottom: 20px;
    border: 0px;
    width: 80%;
}

.submitPunchline{
    display: inline;
    background-color:#edeff1 ;
    color: #5f6163;
    border: 0px solid;
}

.punchline {
    width:85%;
    height:15%;
    background:#fbfcfc;
    margin-left:10%;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.usernameanddate{
    font-size: 10px;
    color: #787c7e;
    display: inline;
}

.username {
    font-size: 10px;
    color: #787c7e;
    display: inline;
    background-color:#fbfcfc ;
    border: 0px solid;
    padding: 0px;
}

.username:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #4a4e50;
}

.username:focus{
    outline: none;
}

.message{
    font-size: 25px;
    margin: 5px;
}

.upvote{
    background-color:#fbfcfc ;
    border: 0px solid;
    color: #878a8c;
    display: inline;
}

.upvote:hover{
    color: #5b65f7;
}

.upvote:focus{
    outline: none;
}

.punchline:hover{
    border: 1px solid #898989;
}

hr {
  margin: 0em;
  border-width: 1px;
}

 .row{
     width: 100%;
 }

/* Left column */
.leftcolumn {
  float: left;
  width: 60%;
  margin-left: 60px;
}

/* Right column */
.rightcolumn {
  float: right;
  width: 25% ;
    padding-left: 20px;
    margin-right: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 5px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 10px;
  margin-bottom: 20px;
  margin-right: 20%;
}

.addpunchline {
    width:85%;
    height:15%;
    background:white;
    margin-left:5%;
    padding-bottom: 10px;
    padding-left: 10%;
    padding-top: 1%;
    margin-bottom: 20px;
}

.rulesInTheMiddle {
    padding-top: 30px;
    text-align: center;
}

.fas .fa-comments {
    display: inline;
}

.comment {
    display: inline;
}

.form-upvote {
    display: inline;
}

.Logo {
    color: #fff;
}

.Logo:hover {
    color: #fff;
    text-decoration: none;
}

.score {
    display: inline !important;
}