body {
    background-color: rgb(210,215,225);
    padding-top: 65px;
}

.topBar {
    background-color: #b24940;
    color: #fff;
    font-size: 25px;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: left;
    min-height: 53px;
}

.topBar>img {
    transition: all .1s ease-in-out;
    width: 50px;
    height: 50px;
    margin-left:2%;
}

.topBar>img:hover {
    transition: all .3s ease-in-out;
    transform: scale(1.1) rotate(20deg);
    cursor: pointer;
}

.searchBar {
    float: right;
    margin-top: 8px;
    margin-right:10px;
}

.inputText {
    background-color:white;
    color:rgb(210,215,225);
    border: 0px solid;
}

/*
::placeholder {
    color: rgb(210,215,225);
}*/

.inputText:focus {
    border-color: #e11;
}

.searchButton {
    width: 25px;
    height: 25px;
    transform:translateX(-32px)  translateY(5px);
}

.userButton {
    width: 15px;
    height: 15px;
    float: right;
    margin-right:2%;
}

.punchline {
    width:85%;
    height:15%;
    background:white;
    margin-left:5%;
    padding-bottom: 10px;
    padding-left: 10%;
    padding-top: 1%;
    margin-bottom: 20px;
}

hr {
    margin: 0em;
    border-width: 1px;
}

/* Left column */
.leftcolumn {
    width: 60%;
    float: left;
}

/* Right column */
.rightcolumn {
    float: right;
    width: 25%;
    padding-left: 20px;
    margin-right: 20px;
}

.clear {
    clear: both;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 5px;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 20%;
}

.profilBubble {
    width:60%;
    height:15%;
    background:white;
    margin-left:5%;
    padding-bottom: 55px;
    padding-left: 3%;
    padding-top: 1%;
    margin-bottom: 20px;
    border-radius: 25px;
}

.labelClass {
    float: left;
    width: 113px;
}

.spaceForForm {
    padding: 7px;
    margin: 7px;
    margin-left: 60px;
}

.roundBorder {
    border-radius: 5px;
}

.btn-left {
    float: right;
    margin-right: 30px;
}

.rulesInTheMiddle {
    padding-top: 30px;
    text-align: center;
}

#footer {
    position:absolute;
    bottom:0;
    width:100%;
    background:#555;
}

.userImg {
    text-align: center;
    width: 120px;
    height: 120px;
    margin: 30px;
}

.insideBubble {
    vertical-align: auto;
}

.spaceForTable {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

table {
    font-family: arial, sans-serif;
    width: 100%;
    border: 1px solid #dddddd;
}

td, th {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.profileMenu {
    float : right;
}

.profileMenu-content {
    margin-top: 53px;
    font-size: 15px;
    display: none;
    position: absolute;
    background-color: #fbfcfc;
    min-width: 160px;
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.profileMenu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.profileMenu-content a:hover {background-color: #f1f1f1}

.profileMenu:hover .profileMenu-content {
    display: block;
}

.topBarIcons{
    cursor: pointer;
    width: 30px;
    height: 30px;
    float: right;
    margin-right:10px;
    margin-top: 10px;
    margin-bottom: 14px;
}
