body {
    background-color: rgb(210,215,225);
    padding-top: 65px;
}

.topBar {
    background-color: #b24940;
    color: #fff;
    font-size: 25px;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: left;
    min-height: 53px;
}

.topBar>img {
    transition: all .1s ease-in-out;
    width: 50px;
    height: 50px;
    margin-left:2%;
}

.topBar>img:hover {
    transition: all .3s ease-in-out;
    transform: scale(1.1) rotate(20deg);
    cursor: pointer;
}

.searchBar {
    float: right;
    margin-top: 8px;
    margin-right:10px;
}

.inputText {
    background-color:white;
    color:rgb(210,215,225);
    border: 0px solid;
}

/*
::placeholder {
    color: rgb(210,215,225);
}*/

.inputText:focus {
    border-color: #e11;
}

.searchButton {
    width: 25px;
    height: 25px;
    transform:translateX(-32px)  translateY(5px);
}

.userButton {
    width: 15px;
    height: 15px;
    float: right;
    margin-right:2%;
}

.punchline {
    width:85%;
    height:15%;
    background:white;
    margin-left:5%;
    padding-bottom: 10px;
    padding-left: 10%;
    padding-top: 1%;
    margin-bottom: 20px;
}

hr {
    margin: 0em;
    border-width: 1px;
}

/* Left column */
.leftcolumn {
    float: left;
    width: 60%;
}

/* Right column */
.rightcolumn {
    float: right;
    width: 25%;
    padding-left: 20px;
    margin-right: 20px;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 5px;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 20%;
}

.addpunchline {
    width:85%;
    height:15%;
    background:white;
    margin-left:5%;
    padding-bottom: 10px;
    padding-left: 10%;
    padding-top: 1%;
    margin-bottom: 20px;
}

.btn-left {
    float: right;
    margin-right: 30px;
}

.inlineForm {
    display: inline;
}

.putittotheright {
    float: right;
    padding-top: 4px;
    padding-right: 4px;
}

.rulesInTheMiddle {
    padding-top: 30px;
    text-align: center;
}