<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Punchline.com</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
          crossorigin="anonymous">

    <link rel='stylesheet' type='text/css' href="./vendor/bootstrap/bootstrap.css" />
    <link rel='stylesheet' type='text/css' href="./css/style_connection.css" th:href="@{css/style_connection.css}"/>

    <style>

        .titleText {
            color: #fff;
            display: inline;
            text-decoration: none;
        }

        .titleText:hover {
            color: #fff;
            text-decoration: none;
        }

        a {
            text-decoration: none;
        }

        .topBar {
            height: 53px;
        }
    </style>
</head>

<body>

<!-- BARRE DE NAVIGATION -->
<div class="topBar">
    <a href="/home">
        <img class="punchLogo" src="./data/images/logo.png" title="Go to top" style="height: 50px;">
        <div class="titleText">Punchline.com</div>
    </a>
</div>

<div class="leftcolumn">
    <div class="connectionBubble">
        <form action="#" th:action="@{/toHome}" th:object="${toHome}" method="post">
            <div class="spaceForForm">
                <label class="labelClass" for="firstname">Pseudo<br></label>
                <input class="roundBorder" type="text" id="firstname" placeholder="Pseudo">
            </div>
            <div class="spaceForForm">
                <label class="labelClass" for="lastname">Mot de passe<br></label>
                <input class="roundBorder" type="text" id="lastname" placeholder="Mot de passe">
            </div>
            <div class="btn-left">
                <span>Pas encore inscrit ? Par <a href="/inscription">ici</a> !</span>
                <button type="submit" class="btn btn-lg btn-primary">Connexion</button>
            </div>
        </form>
    </div>
</div>

<div class="rightcolumn">
    <div class="card">
        <h2>About Us</h2>
        <div class="fakeimg" style="height:100px;">Image</div>
        <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
    </div>
    <div class="card">
        <h3>Popular Post</h3>
        <div class="fakeimg">Post 1</div><br>
        <div class="fakeimg">Post 2</div><br>
        <div class="fakeimg">Post 3</div>
    </div>
    <div class="card">
        <h3>Follow Us</h3>
        <p>Some text..</p>
    </div>
</div>

<footer class="clear">
    <div class="rulesInTheMiddle"><a href="/rules">Settlement</a></div>
</footer>

</body>
</html>