<!DOCTYPE html>

<html xmlns:th="http://www.w3.org/1999/xhtml" >

   <head>
      <meta http-equiv="Content-Type" content="text/html;charset = utf-8" />
      <meta name="theme-color" content="#b24940" />                            <!-- COLOR FOR CHROME ANDROID -->
      <meta name="viewport" content="height=device-height, initial-scale=1.0"> <!-- SCALE FOR DPI ELEVE -->

      <title>Punchline</title>

       <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
             integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
             crossorigin="anonymous">

      <link rel='stylesheet' type='text/css' href="./vendor/bootstrap/bootstrap.css" />
       <link rel='stylesheet' type='text/css' href="./css/style_mainpage.css" th:href="@{css/style_mainpage.css}"/>
   </head>

   <body >
     
      <!-- NAVIGATION HEADER -->
      <div class="topBar">
          <a class="Logo" href="/home">
              <img class="punchLogo" src="./data/images/logo.png" title="Go to top">
              <span class="titleText">Punchline.com</span>
          </a>

          <!-- PROFIL MENU -->
          <span class="profileMenu" style="padding-right: 30px;">
              <img class="topBarIcons" src="./data/images/user.png"/>
              <div class="profileMenu-content">
                  <a href="/profil"><i class="fas fa-user"></i> profil</a>
                  <hr>
                  <a href="/"><i class="fas fa-sign-out-alt"></i>Log out</a>
              </div>
          </span>
      </div>



      <!-- Content-->
      <div class="row">
          <div class="leftcolumn">

              <!-- form to add a message-->

                  <form class="addPunchline" method="post" action="#" th:action="@{/message}" th:object="${nmsg}">
                      <input class="addPunchlineButton" type="text" th:field="*{msg}" name="punchline_message" placeholder="Enter your punchline...">
                      <button class = submitPunchline type="submit" value="Submit"><i class="fas fa-chevron-circle-right"></i></button>
                  </form>
                    <hr>

              <!-- message list-->
              <div class="punchline" th:each="message : ${data}">

                  <!-- message header -->
                  <span class="usernameanddate">Posted by </span>
                  <form style="display: inline" action="#" th:action="@{/{user}(user=${message.user})}" methode="get" th:object="${message}">
                      <button class="username" th:text="${message.user}" type="submit" ></button>
                  </form>
                  <span class="usernameanddate">since</span>
                  <div class="usernameanddate" th:text="${message.date}"></div>
                  <hr>

                  <!-- message content -->
                  <div class="message" th:text="${message.msg}"></div>

                  <!-- message's footer content -->
                  <form class="form-upvote" action="#" th:action="@{/upvote/{id}(id=${message.id})}" methode="get" th:object="${message}">

                      <!-- upvote button -->
                      <button class="upvote" type="submit">
                          <i class="fas fa-arrow-up"></i>
                          <div class="score" style="display: inline;" th:text="${message.score}"></div>
                      </button>

                  </form>

                    <!-- comment button -->
                  <button class="upvote" type="submit">
                      <i class="fas fa-comments"></i>
                      <div class="comment">Comment</div>
                  </button>

              </div>
          </div>

          <div class="rightcolumn">
              <div class="card">
                  <h2>About Us</h2>
                  <p>We are four Punchline lovers and we made this website in a project to share the best punchlines</p>
              </div>

              <div class="card">
                  <h3>Popular Post</h3>
                  <div>
                      <div th:text="${bestPunchlines[0].score} + ' ' + ${bestPunchlines[0].user}"></div>
                      <div th:text="${bestPunchlines[0].msg}"></div>
                      <hr>
                  </div><br>
                  <div>
                      <div th:text="${bestPunchlines[1].score} + ' ' + ${bestPunchlines[1].user}"></div>
                      <div th:text="${bestPunchlines[1].msg}"></div>
                      <hr>
                  </div><br>
                  <div>
                      <div th:text="${bestPunchlines[2].score} + ' ' + ${bestPunchlines[2].user}"></div>
                      <div th:text="${bestPunchlines[2].msg}"></div>
                      <hr>
                  </div>
              </div>

              <div class="card">
                  <h3>Top Punchliner</h3>
                  <p th:text="${bestPunchlines[0].user}"></p>
              </div>

              <div class="card">
                  <h3>Random Punchline</h3>
                  <p th:text="${randomMessage}"></p>
              </div>

          </div>
      </div>

      <footer>
          <div class="rulesInTheMiddle"><a href="/rules">Settlement</a></div>
      </footer>

   </body>
   </html>