<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Punchline.com</title>

    <script type="text/javascript" src="./vendor/angular/angular.js"></script>
    <script type="text/javascript" src="./js/script.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link rel='stylesheet' type='text/css' href="./vendor/bootstrap/bootstrap.css" />
    <link rel='stylesheet' type='text/css' href="./css/style_profil.css" />
</head>
<body>

<div class="topBar">
    <a class="Logo" href="/home">
        <img class="punchLogo" src="./data/images/logo.png" title="Go to top">
        <span class="titleText">Punchline.com</span>
    </a>
    <form class="searchBar" name="searchForm">
        <input  class="inputText" id="myInput" type="text" placeholder=" Search...">
    </form>
    <!-- MENU PROFIL -->
    <span class="profileMenu">
              <img class="topBarIcons" src="./data/images/user.png"/>
              <div class="profileMenu-content">
                  <a href="/profil"><i class="fas fa-user"></i> Mon profil</a>
                  <a href="#"><i class="fas fa-cogs"></i> Paramètres</a>
                  <a href="#"><i class="fas fa-question-circle"></i> Aide</a>
                  <hr>
                  <a href="/"><i class="fas fa-sign-out-alt"></i> Se déconnecter</a>
              </div>
          </span>
</div>

<div class="leftcolumn profilBubble">
    <div>
        <img class="userImg" src="./data/images/corgi.png"/>
    </div>
    <div>
        <table class="col-md-3">
            <tr>
                <td>Pseudo</td>
                <td>Panda</td>
            </tr>
            <tr>
                <td>Nombre de posts</td>
                <td>333</td>
            </tr>
        </table>
    </div>
    <div class="clear spaceForTable">
        Tes posts :
    </div>
</div>

<div class="rightcolumn">
    <div class="card">
        <h2>About Us</h2>
        <p>We are four Punchline lovers and we made this website in a project to share the best punchlines</p>
    </div>

    <div class="card">
        <h3>Popular Post</h3>
        <div>
            <div th:text="${bestPunchlines[0].score} + ' ' + ${bestPunchlines[0].user}"></div>
            <div th:text="${bestPunchlines[0].msg}"></div>
            <hr>
        </div><br>
        <div>
            <div th:text="${bestPunchlines[1].score} + ' ' + ${bestPunchlines[1].user}"></div>
            <div th:text="${bestPunchlines[1].msg}"></div>
            <hr>
        </div><br>
        <div>
            <div th:text="${bestPunchlines[2].score} + ' ' + ${bestPunchlines[2].user}"></div>
            <div th:text="${bestPunchlines[2].msg}"></div>
            <hr>
        </div>
    </div>

    <div class="card">
        <h3>Top Punchliner</h3>
        <p th:text="${bestPunchlines[0].user}"></p>
    </div>

    <div class="card">
        <h3>Random Punchline</h3>
        <p th:text="${randomMessage}"></p>
    </div>
</div>

<footer class="clear">
    <div class="rulesInTheMiddle"><a href="/rules">Settlement</a></div>
</footer>

</body>
</html>