<!DOCTYPE html>

<html ng-app="punchlineapp" xmlns:th="http://www.w3.org/1999/xhtml" >

   <head>
      <meta http-equiv="Content-Type" content="text/html;charset = utf-8" />
      <meta name="theme-color" content="#b24940" />                            <!-- COULEUR POUR CHROME ANDROID -->
      <meta name="viewport" content="height=device-height, initial-scale=1.0"> <!-- SCALE POUR DPI ELEVE -->

      <title>Punchline</title>

      <script type="text/javascript" src="./vendor/angular/angular.js"></script>
      <script type="text/javascript" src="./js/script.js"></script>

       <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
             integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
             crossorigin="anonymous">

      <link rel='stylesheet' type='text/css' href="./vendor/bootstrap/bootstrap.css" />
       <link rel='stylesheet' type='text/css' href="./css/style_mainpage.css" />
   </head>

   <body >
      <!-- BARRE DE NAVIGATION -->
      <div class="topBar">

          <a class="Logo" href="/home">
              <img class="punchLogo" src="./data/images/logo.png" title="Go to top">
              <span class="titleText">Punchline.com</span>
          </a>

          <form class="searchBar inlineForm" name="searchForm">
            <input  class="inputText" id="myInput" type="text" placeholder=" Search...">
         </form>

          <!-- MENU PROFIL -->
          <span class="profileMenu">
              <img class="topBarIcons" src="./data/images/user.png"/>
              <div class="profileMenu-content">
                  <a href="#"><i class="fas fa-user"></i>Profil</a>
                  <hr>
                  <a href="#"><i class="fas fa-sign-out-alt"></i>Logout</a>
              </div>
          </span>
      </div>

      <!-- Contenus -->
      <div class="row">
          <div class="leftcolumn">

              <!-- liste des messages -->
              <div class="punchline" th:each="message : ${msg_list}">

                  <!-- entête du message -->
                  <span class="usernameanddate">Posted by</span>
                  <a class="username" th:text="${message.user}"></a>
                  <span class="usernameanddate"> since </span>
                  <hr>

                  <!-- contenu du message -->
                  <div class="message" th:text="${message.msg}"></div>

                  <!-- options du footer du message -->
                  <form action="#" style="display: inline;" th:action="@{/upvote/{id}(id=${message.id})}" methode="get" th:object="${message}">

                      <button class="upvote" type="submit">
                          <i class="fas fa-arrow-up"></i>
                          <div style="display: inline;" th:text="${message.score}"></div>
                      </button>

                  </form>

                  <button class="upvote" style="display: inline;" type="submit">
                      <i class="fas fa-comments"></i>
                      <span>Comment</span>
                  </button>

              </div>
          </div>

          <div class="rightcolumn">
              <div class="card">
                  <h2>About Us</h2>
                  <div class="fakeimg" style="height:100px;">Image</div>
                  <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
              </div>

              <div class="card">
                  <h3>Popular Post</h3>
                  <div class="fakeimg">Post 1</div><br>
                  <div class="fakeimg">Post 2</div><br>
                  <div class="fakeimg">Post 3</div>
              </div>

              <div class="card">
                  <h3>Top Punchliner</h3>
                  <p>Some text..</p>
              </div>

              <div class="card">
                  <h3>Punchline of the day</h3>
                  <p>Some text..</p>
              </div>

          </div>
      </div>

   </body>
   </html>